<!doctype html>
<html >
  <head>
  	<link rel="stylesheet" href="css/app.css">
  	<link rel="stylesheet" href="css/bootstrap.css">
  </head>
  <body ng-app="myKnowiiApp">
    <div ng-controller="SmallKnowiiCtrl">
        <h4>Search:</h4><input type="text" ng-model="search">
        <knowli></knowli>
        <table ng-repeat="knowii in knowiis | filter:search | orderBy:'Date'" border="1">   	<!--  <table ng-repeat = "{{knowii in knowiis}}" border="1">    -->
    		<tr>
    			<td style="vertical-align:top">
    				<table>
    					<tr>
    						<td> <i  ng-repeat="n in [] | range:knowii.Raiting" class="icon-star"></i><i ng-repeat="n in [] | range:5 - knowii.Raiting"class="icon-star-empty"></i> 
    						</td>    					
    						<td class="span2"> <strong> {{knowii.PublisherName}} | {{knowii.Date}}</strong></td>    						
    						<td><i class="icon-tags"></i></td>
    					</tr>
    					<tr>
    						<td class="span3" colspan="2" style="text-align:right">
    							{{knowii.Previewtxt}}
    						</td>
    					</tr>    					
    					<tr>
    						<td class="span3">
    							<i class="icon-star-empty"></i>
    							<i class="icon-star-empty"></i>
    						</td>
    					</tr>
    				</table>
    			</td>
    			<td>
    				<img src="img/preview.jpg">
    			</td>
    		</tr>
    	</table>
    </div>
    <script src="lib/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
  </body>
</html>